body {font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(79, 78, 78);
    background-color: rgb(184, 223, 236);
    }
    li {
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
    }
    a {
        color:rgb(236, 123, 142);
    }
    .resumelistheading {
        font-weight: bold;
        font-style: normal;
    }

    h1{
        text-align: center;
    }